.profile {
  padding: 50px 15px 15px;
  width: 300px;
  background-color: rgb(243, 243, 243);
}

.description {
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  border-radius: 50%;
  background-color: grey;
}

.stats {
  margin-top: 100px;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.statsItem {
  display: flex;
  flex-direction: column;
}
