.friendlist {
  list-style: none;
  width: 300px;
  padding: 15px 15px 15px;
  background-color: aquamarine;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
  background-color: aliceblue;
}

.online {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
  background-color: green;
}

.offline {
  composes: online;
  background-color: red;
}

.avatar {
  margin-right: 10px;
}
