.statistics {
  margin: 0 auto;
  margin-top: 20px;
  background-color: lightblue;
  width: 300px;
  padding: 15px 15px 15px;
}

.title {
  text-align: center;
}

.statlist {
  display: flex;
  padding-inline-start: 0px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  color: #fff;
  margin: 0 auto;
}
